{
  "openapi": "3.0.3",
  "info": {
    "title": "Qonekto API Documentation",
    "description": "",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.qonekto.de"
    }
  ],
  "tags": [
    {
      "name": "Kunde",
      "description": ""
    },
    {
      "name": "Kunde Tags",
      "description": ""
    },
    {
      "name": "Kunde Additional Addresses",
      "description": ""
    },
    {
      "name": "Kunde Notes",
      "description": ""
    },
    {
      "name": "Kunde Relations",
      "description": ""
    },
    {
      "name": "Kunde Notifications",
      "description": ""
    },
    {
      "name": "Vertrag",
      "description": ""
    },
    {
      "name": "Contract Bank Account",
      "description": ""
    },
    {
      "name": "Listen",
      "description": ""
    },
    {
      "name": "Panda",
      "description": ""
    },
    {
      "name": "Claims (Schäden)",
      "description": ""
    },
    {
      "name": "Tasks (Aufgaben)",
      "description": ""
    },
    {
      "name": "Pipeline",
      "description": ""
    },
    {
      "name": "Misc",
      "description": ""
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can generate a token by visiting Admin > **API Tokens**.\n\nThe Token can also be passed as `_token` GET or POST parameter."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/api/{tenant}/kunde": {
      "get": {
        "summary": "List Kunden",
        "operationId": "listKunden",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "per_page",
            "description": "Changes per_page used for pagination from default 25 to max 100.",
            "example": 50,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Changes per_page used for pagination from default 25 to max 100.",
              "example": 50
            }
          },
          {
            "in": "query",
            "name": "search",
            "description": "Searches for all Kunden beginning with keyword in `vorname`, `nachname` or a match in any `kommunikation` fields. Cannot use filter parameter when passing search parameter.",
            "example": "quia",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Searches for all Kunden beginning with keyword in `vorname`, `nachname` or a match in any `kommunikation` fields. Cannot use filter parameter when passing search parameter.",
              "example": "quia"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "data": [
                      {
                        "ameise_id": 125387417,
                        "nachname": "Bergstrom",
                        "vorname": "Eliane",
                        "titel": "Dr.",
                        "strasse": "934 Will Garden Apt. 938",
                        "plz": "32049-9864",
                        "ort": "Lake Kimberly",
                        "geburtsdatum": "1990-01-23T09:03:54.000000Z",
                        "beruf": "",
                        "per_du": true,
                        "nationalitaet": "",
                        "benutzername_simplr": "alejandra.hamill",
                        "verstorben": false,
                        "last_simplr_login_at": null,
                        "maklervollmacht_created_at": null,
                        "vermittler_id": "DAKST3",
                        "anrede_id": 10,
                        "anrede": "sed animi",
                        "juristische_person": false,
                        "land_id": "BZ",
                        "land": "Tonga",
                        "rechtsform_id": 0,
                        "rechtsform": null
                      },
                      {
                        "ameise_id": 125387417,
                        "nachname": "Bergstrom",
                        "vorname": "Eliane",
                        "titel": "Dr.",
                        "strasse": "934 Will Garden Apt. 938",
                        "plz": "32049-9864",
                        "ort": "Lake Kimberly",
                        "geburtsdatum": "1990-01-23T09:03:54.000000Z",
                        "beruf": "",
                        "per_du": true,
                        "nationalitaet": "",
                        "benutzername_simplr": "alejandra.hamill",
                        "verstorben": false,
                        "last_simplr_login_at": null,
                        "maklervollmacht_created_at": null,
                        "vermittler_id": "DAKST3",
                        "anrede_id": 10,
                        "anrede": "sed animi",
                        "juristische_person": false,
                        "land_id": "BZ",
                        "land": "Tonga",
                        "rechtsform_id": 0,
                        "rechtsform": null
                      }
                    ],
                    "links": {
                      "first": "/?page=1",
                      "last": "/?page=1",
                      "prev": null,
                      "next": null
                    },
                    "meta": {
                      "current_page": 1,
                      "from": 1,
                      "last_page": 1,
                      "links": [
                        {
                          "url": null,
                          "label": "&laquo; Zurück",
                          "page": null,
                          "active": false
                        },
                        {
                          "url": "/?page=1",
                          "label": "1",
                          "page": 1,
                          "active": true
                        },
                        {
                          "url": null,
                          "label": "Weiter &raquo;",
                          "page": null,
                          "active": false
                        }
                      ],
                      "path": "/",
                      "per_page": 25,
                      "to": 2,
                      "total": 2
                    }
                  },
                  "properties": {
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "ameise_id": 125387417,
                          "nachname": "Bergstrom",
                          "vorname": "Eliane",
                          "titel": "Dr.",
                          "strasse": "934 Will Garden Apt. 938",
                          "plz": "32049-9864",
                          "ort": "Lake Kimberly",
                          "geburtsdatum": "1990-01-23T09:03:54.000000Z",
                          "beruf": "",
                          "per_du": true,
                          "nationalitaet": "",
                          "benutzername_simplr": "alejandra.hamill",
                          "verstorben": false,
                          "last_simplr_login_at": null,
                          "maklervollmacht_created_at": null,
                          "vermittler_id": "DAKST3",
                          "anrede_id": 10,
                          "anrede": "sed animi",
                          "juristische_person": false,
                          "land_id": "BZ",
                          "land": "Tonga",
                          "rechtsform_id": 0,
                          "rechtsform": null
                        },
                        {
                          "ameise_id": 125387417,
                          "nachname": "Bergstrom",
                          "vorname": "Eliane",
                          "titel": "Dr.",
                          "strasse": "934 Will Garden Apt. 938",
                          "plz": "32049-9864",
                          "ort": "Lake Kimberly",
                          "geburtsdatum": "1990-01-23T09:03:54.000000Z",
                          "beruf": "",
                          "per_du": true,
                          "nationalitaet": "",
                          "benutzername_simplr": "alejandra.hamill",
                          "verstorben": false,
                          "last_simplr_login_at": null,
                          "maklervollmacht_created_at": null,
                          "vermittler_id": "DAKST3",
                          "anrede_id": 10,
                          "anrede": "sed animi",
                          "juristische_person": false,
                          "land_id": "BZ",
                          "land": "Tonga",
                          "rechtsform_id": 0,
                          "rechtsform": null
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "ameise_id": {
                            "type": "integer",
                            "example": 125387417
                          },
                          "nachname": {
                            "type": "string",
                            "example": "Bergstrom"
                          },
                          "vorname": {
                            "type": "string",
                            "example": "Eliane"
                          },
                          "titel": {
                            "type": "string",
                            "example": "Dr."
                          },
                          "strasse": {
                            "type": "string",
                            "example": "934 Will Garden Apt. 938"
                          },
                          "plz": {
                            "type": "string",
                            "example": "32049-9864"
                          },
                          "ort": {
                            "type": "string",
                            "example": "Lake Kimberly"
                          },
                          "geburtsdatum": {
                            "type": "string",
                            "example": "1990-01-23T09:03:54.000000Z"
                          },
                          "beruf": {
                            "type": "string",
                            "example": ""
                          },
                          "per_du": {
                            "type": "boolean",
                            "example": true
                          },
                          "nationalitaet": {
                            "type": "string",
                            "example": ""
                          },
                          "benutzername_simplr": {
                            "type": "string",
                            "example": "alejandra.hamill"
                          },
                          "verstorben": {
                            "type": "boolean",
                            "example": false
                          },
                          "last_simplr_login_at": {
                            "type": "string",
                            "example": null,
                            "nullable": true
                          },
                          "maklervollmacht_created_at": {
                            "type": "string",
                            "example": null,
                            "nullable": true
                          },
                          "vermittler_id": {
                            "type": "string",
                            "example": "DAKST3"
                          },
                          "anrede_id": {
                            "type": "integer",
                            "example": 10
                          },
                          "anrede": {
                            "type": "string",
                            "example": "sed animi"
                          },
                          "juristische_person": {
                            "type": "boolean",
                            "example": false
                          },
                          "land_id": {
                            "type": "string",
                            "example": "BZ"
                          },
                          "land": {
                            "type": "string",
                            "example": "Tonga"
                          },
                          "rechtsform_id": {
                            "type": "integer",
                            "example": 0
                          },
                          "rechtsform": {
                            "type": "string",
                            "example": null,
                            "nullable": true
                          }
                        }
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string",
                          "example": "/?page=1"
                        },
                        "last": {
                          "type": "string",
                          "example": "/?page=1"
                        },
                        "prev": {
                          "type": "string",
                          "example": null,
                          "nullable": true
                        },
                        "next": {
                          "type": "string",
                          "example": null,
                          "nullable": true
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "example": 1
                        },
                        "from": {
                          "type": "integer",
                          "example": 1
                        },
                        "last_page": {
                          "type": "integer",
                          "example": 1
                        },
                        "links": {
                          "type": "array",
                          "example": [
                            {
                              "url": null,
                              "label": "&laquo; Zurück",
                              "page": null,
                              "active": false
                            },
                            {
                              "url": "/?page=1",
                              "label": "1",
                              "page": 1,
                              "active": true
                            },
                            {
                              "url": null,
                              "label": "Weiter &raquo;",
                              "page": null,
                              "active": false
                            }
                          ],
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string",
                                "example": null,
                                "nullable": true
                              },
                              "label": {
                                "type": "string",
                                "example": "&laquo; Zurück"
                              },
                              "page": {
                                "type": "string",
                                "example": null,
                                "nullable": true
                              },
                              "active": {
                                "type": "boolean",
                                "example": false
                              }
                            }
                          }
                        },
                        "path": {
                          "type": "string",
                          "example": "/"
                        },
                        "per_page": {
                          "type": "integer",
                          "example": 25
                        },
                        "to": {
                          "type": "integer",
                          "example": 2
                        },
                        "total": {
                          "type": "integer",
                          "example": 2
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No API Token passed via Authorization Header or as _token parameter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "No API Token passed via Authorization Header or as _token parameter.",
                    "code": "NOT_AUTHORIZED"
                  },
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "No API Token passed via Authorization Header or as _token parameter."
                    },
                    "code": {
                      "type": "string",
                      "example": "NOT_AUTHORIZED"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Tenant does not exist or was disabled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Tenant does not exist or was disabled.",
                    "code": "TENANT_MISSING_OR_DISABLED"
                  },
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Tenant does not exist or was disabled."
                    },
                    "code": {
                      "type": "string",
                      "example": "TENANT_MISSING_OR_DISABLED"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Kunde"
        ]
      },
      "post": {
        "summary": "Create Kunde",
        "operationId": "createKunde",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "mitteilung-benutzername",
            "description": "When set, will send customer the account username via email (if given).",
            "example": true,
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "When set, will send customer the account username via email (if given).",
              "example": true
            }
          },
          {
            "in": "query",
            "name": "mitteilung-passwort-link",
            "description": "When set, will send customer a link to reset his account password via email (if given).",
            "example": true,
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "When set, will send customer a link to reset his account password via email (if given).",
              "example": true
            }
          },
          {
            "in": "query",
            "name": "mitteilung-erstinfo-unterbinden",
            "description": "When set, will **not** send customer the Erstinformationen nach §11 der Vermittlerverordnung via email (if given).",
            "example": true,
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "When set, will **not** send customer the Erstinformationen nach §11 der Vermittlerverordnung via email (if given).",
              "example": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "ameise_id": 125387417,
                    "nachname": "Bergstrom",
                    "vorname": "Eliane",
                    "titel": "Dr.",
                    "strasse": "934 Will Garden Apt. 938",
                    "plz": "32049-9864",
                    "ort": "Lake Kimberly",
                    "geburtsdatum": "1990-01-23T09:03:54.000000Z",
                    "beruf": "",
                    "per_du": true,
                    "nationalitaet": "",
                    "benutzername_simplr": "alejandra.hamill",
                    "verstorben": false,
                    "last_simplr_login_at": null,
                    "maklervollmacht_created_at": null,
                    "vermittler_id": "DAKST3",
                    "anrede_id": 10,
                    "anrede": "sed animi",
                    "juristische_person": false,
                    "land_id": "BZ",
                    "land": "Tonga",
                    "rechtsform_id": 0,
                    "rechtsform": null,
                    "email": null,
                    "telefon": null,
                    "mobil": null,
                    "website": null,
                    "fax": null,
                    "kommunikationen": [],
                    "details": []
                  },
                  "properties": {
                    "ameise_id": {
                      "type": "integer",
                      "example": 125387417
                    },
                    "nachname": {
                      "type": "string",
                      "example": "Bergstrom"
                    },
                    "vorname": {
                      "type": "string",
                      "example": "Eliane"
                    },
                    "titel": {
                      "type": "string",
                      "example": "Dr."
                    },
                    "strasse": {
                      "type": "string",
                      "example": "934 Will Garden Apt. 938"
                    },
                    "plz": {
                      "type": "string",
                      "example": "32049-9864"
                    },
                    "ort": {
                      "type": "string",
                      "example": "Lake Kimberly"
                    },
                    "geburtsdatum": {
                      "type": "string",
                      "example": "1990-01-23T09:03:54.000000Z"
                    },
                    "beruf": {
                      "type": "string",
                      "example": ""
                    },
                    "per_du": {
                      "type": "boolean",
                      "example": true
                    },
                    "nationalitaet": {
                      "type": "string",
                      "example": ""
                    },
                    "benutzername_simplr": {
                      "type": "string",
                      "example": "alejandra.hamill"
                    },
                    "verstorben": {
                      "type": "boolean",
                      "example": false
                    },
                    "last_simplr_login_at": {
                      "type": "string",
                      "example": null,
                      "nullable": true
                    },
                    "maklervollmacht_created_at": {
                      "type": "string",
                      "example": null,
                      "nullable": true
                    },
                    "vermittler_id": {
                      "type": "string",
                      "example": "DAKST3"
                    },
                    "anrede_id": {
                      "type": "integer",
                      "example": 10
                    },
                    "anrede": {
                      "type": "string",
                      "example": "sed animi"
                    },
                    "juristische_person": {
                      "type": "boolean",
                      "example": false
                    },
                    "land_id": {
                      "type": "string",
                      "example": "BZ"
                    },
                    "land": {
                      "type": "string",
                      "example": "Tonga"
                    },
                    "rechtsform_id": {
                      "type": "integer",
                      "example": 0
                    },
                    "rechtsform": {
                      "type": "string",
                      "example": null,
                      "nullable": true
                    },
                    "email": {
                      "type": "string",
                      "example": null,
                      "nullable": true
                    },
                    "telefon": {
                      "type": "string",
                      "example": null,
                      "nullable": true
                    },
                    "mobil": {
                      "type": "string",
                      "example": null,
                      "nullable": true
                    },
                    "website": {
                      "type": "string",
                      "example": null,
                      "nullable": true
                    },
                    "fax": {
                      "type": "string",
                      "example": null,
                      "nullable": true
                    },
                    "kommunikationen": {
                      "type": "array",
                      "example": []
                    },
                    "details": {
                      "type": "array",
                      "example": []
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No API Token passed via Authorization Header or as _token parameter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "No API Token passed via Authorization Header or as _token parameter.",
                    "code": "NOT_AUTHORIZED"
                  },
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "No API Token passed via Authorization Header or as _token parameter."
                    },
                    "code": {
                      "type": "string",
                      "example": "NOT_AUTHORIZED"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Tenant does not exist or was disabled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Tenant does not exist or was disabled.",
                    "code": "TENANT_MISSING_OR_DISABLED"
                  },
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Tenant does not exist or was disabled."
                    },
                    "code": {
                      "type": "string",
                      "example": "TENANT_MISSING_OR_DISABLED"
                    }
                  }
                }
              }
            }
          },
          "412": {
            "description": "CRM Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Ameise-API is not connected."
                  },
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Ameise-API is not connected."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Kunde"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "vermittler_id": {
                    "type": "string",
                    "description": "Standard-Wert ist der Vermittler des Ameise Benutzers mit dem die API-Verbidung erstellt wurde. The <code>ameise_id</code> of an existing record in the ameise_vermittler table.",
                    "example": null,
                    "nullable": true
                  },
                  "anrede_id": {
                    "type": "string",
                    "description": "The <code>ameise_id</code> of an existing record in the ameise_anreden table.",
                    "example": "quia"
                  },
                  "vorname": {
                    "type": "string",
                    "description": "Wenn anrede_id zu einer Anrede gehört, wo juristische_person = true ist bezeichnet dieses Feld den Ansprechpartner. value darf maximal 255 Zeichen haben.",
                    "example": "juyjlbqswiwvcmyv"
                  },
                  "nachname": {
                    "type": "string",
                    "description": "Wenn anrede_id zu einer Anrede gehört, wo juristische_person = true ist bezeichnet dieses Feld den Firmennamen. value darf maximal 255 Zeichen haben.",
                    "example": "ipndicqibuxjajfu"
                  },
                  "titel": {
                    "type": "string",
                    "description": "Wird nicht verwendet, wenn anrede_id zu einer Anrede gehört, wo juristische_person = true ist. value darf maximal 255 Zeichen haben.",
                    "example": "lljxbbggsfxqdren",
                    "nullable": true
                  },
                  "strasse": {
                    "type": "string",
                    "description": "value darf maximal 255 Zeichen haben.",
                    "example": "loimiqxcpiayhneo",
                    "nullable": true
                  },
                  "plz": {
                    "type": "string",
                    "description": "value muss zwischen 4 und 5 Stellen haben.",
                    "example": "56957",
                    "nullable": true
                  },
                  "ort": {
                    "type": "string",
                    "description": "value darf maximal 255 Zeichen haben.",
                    "example": "uyjlbqswiwvcmyvi",
                    "nullable": true
                  },
                  "land_id": {
                    "type": "string",
                    "description": "The <code>ameise_id</code> of an existing record in the ameise_laender table.",
                    "example": "quia"
                  },
                  "geburtsdatum": {
                    "type": "string",
                    "description": "Wenn anrede_id zu einer Anrede gehört, wo juristische_person = true ist bezeichnet dieses Feld das Gründungsdatum. Must be a valid date in the format <code>Y-m-d,d.m.Y</code>.",
                    "example": "2026-03-24,24.03.2026",
                    "nullable": true
                  },
                  "beruf": {
                    "type": "string",
                    "description": "Wenn anrede_id zu einer Anrede gehört, wo juristische_person = true ist bezeichnet dieses Feld die Branche. value darf maximal 255 Zeichen haben.",
                    "example": "juyjlbqswiwvcmyv",
                    "nullable": true
                  },
                  "per_du": {
                    "type": "boolean",
                    "description": "Wird aktuell nicht an die Ameise übergeben.",
                    "example": true,
                    "nullable": true
                  },
                  "nationalitaet": {
                    "type": "string",
                    "description": "Wird aktuell nicht an die Ameise übergeben. value darf maximal 255 Zeichen haben.",
                    "example": "ipndicqibuxjajfu",
                    "nullable": true
                  },
                  "rechtsform_id": {
                    "type": "string",
                    "description": "Wird aktuell nicht an die Ameise übergeben. Benötigt wenn anrede_id zu einer Anrede gehört, wo juristische_person = true ist. The <code>ameise_id</code> of an existing record in the ameise_rechtsformen table.",
                    "example": null,
                    "nullable": true
                  },
                  "benutzername_simplr": {
                    "type": "string",
                    "description": "value darf maximal 255 Zeichen haben.",
                    "example": "lljxbbggsfxqdren",
                    "nullable": true
                  },
                  "verstorben": {
                    "type": "boolean",
                    "description": "Wird aktuell nicht an die Ameise übergeben.",
                    "example": false,
                    "nullable": true
                  },
                  "kommunikation": {
                    "type": "object",
                    "description": "Alle Standard-Kommunikationsdaten für diesen Kunden.",
                    "example": {
                      "email": "info@muster.test",
                      "website": "https://url.test"
                    },
                    "properties": {
                      "email": {
                        "type": "string",
                        "description": "value muss eine gültige E-Mail-Adresse sein.",
                        "example": "info@muster.test",
                        "nullable": true
                      },
                      "telefon": {
                        "type": "string",
                        "description": "",
                        "example": null,
                        "nullable": true
                      },
                      "mobil": {
                        "type": "string",
                        "description": "",
                        "example": null,
                        "nullable": true
                      },
                      "website": {
                        "type": "string",
                        "description": "Must be a valid URL.",
                        "example": "https://url.test",
                        "nullable": true
                      },
                      "fax": {
                        "type": "string",
                        "description": "",
                        "example": null,
                        "nullable": true
                      }
                    },
                    "nullable": true
                  },
                  "details": {
                    "type": "object",
                    "description": "Kunden-Details als Objekt mit Feld-ID Schlüssel und dem entsprechenden Wert.",
                    "example": {
                      "feld_1_float": 12.2,
                      "feld_2_int": 3,
                      "feld_3_text": "test",
                      "feld_4_bool": false,
                      "feld_5_date": "2024-01-23"
                    },
                    "properties": {
                      "feld_id_typ_text": {
                        "type": "string",
                        "description": "",
                        "example": null,
                        "nullable": true
                      },
                      "feld_id_typ_boolean": {
                        "type": "boolean",
                        "description": "",
                        "example": false,
                        "nullable": true
                      },
                      "feld_id_typ_auswahl": {
                        "type": "string",
                        "description": "",
                        "example": 2,
                        "enum": [
                          1,
                          2,
                          3,
                          4,
                          5
                        ],
                        "nullable": true
                      },
                      "feld_id_typ_zahl": {
                        "type": "integer",
                        "description": "",
                        "example": 16,
                        "nullable": true
                      },
                      "feld_id_typ_betrag_2": {
                        "type": "number",
                        "description": "",
                        "example": 18066.54877,
                        "nullable": true
                      },
                      "feld_id_typ_datum": {
                        "type": "string",
                        "description": "Must be a valid date in the format <code>Y-m-d,d.m.Y</code>.",
                        "example": "2026-03-24,24.03.2026",
                        "nullable": true
                      }
                    },
                    "nullable": true
                  }
                },
                "required": [
                  "anrede_id",
                  "vorname",
                  "nachname",
                  "land_id"
                ]
              }
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "tenant",
          "description": "",
          "example": "quia",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/{tenant}/kunde/filter": {
      "post": {
        "summary": "Filter Kunden",
        "operationId": "filterKunden",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ameise_id": {
                        "type": "integer",
                        "example": 125387417
                      },
                      "nachname": {
                        "type": "string",
                        "example": "Bergstrom"
                      },
                      "vorname": {
                        "type": "string",
                        "example": "Eliane"
                      },
                      "titel": {
                        "type": "string",
                        "example": "Dr."
                      },
                      "strasse": {
                        "type": "string",
                        "example": "934 Will Garden Apt. 938"
                      },
                      "plz": {
                        "type": "string",
                        "example": "32049-9864"
                      },
                      "ort": {
                        "type": "string",
                        "example": "Lake Kimberly"
                      },
                      "geburtsdatum": {
                        "type": "string",
                        "example": "1990-01-23T09:03:54.000000Z"
                      },
                      "beruf": {
                        "type": "string",
                        "example": ""
                      },
                      "per_du": {
                        "type": "boolean",
                        "example": true
                      },
                      "nationalitaet": {
                        "type": "string",
                        "example": ""
                      },
                      "benutzername_simplr": {
                        "type": "string",
                        "example": "alejandra.hamill"
                      },
                      "verstorben": {
                        "type": "boolean",
                        "example": false
                      },
                      "last_simplr_login_at": {
                        "type": "string",
                        "example": null,
                        "nullable": true
                      },
                      "maklervollmacht_created_at": {
                        "type": "string",
                        "example": null,
                        "nullable": true
                      },
                      "vermittler_id": {
                        "type": "string",
                        "example": "DAKST3"
                      },
                      "anrede_id": {
                        "type": "integer",
                        "example": 10
                      },
                      "land_id": {
                        "type": "string",
                        "example": "BZ"
                      },
                      "rechtsform_id": {
                        "type": "integer",
                        "example": 0
                      }
                    }
                  },
                  "example": [
                    {
                      "ameise_id": 125387417,
                      "nachname": "Bergstrom",
                      "vorname": "Eliane",
                      "titel": "Dr.",
                      "strasse": "934 Will Garden Apt. 938",
                      "plz": "32049-9864",
                      "ort": "Lake Kimberly",
                      "geburtsdatum": "1990-01-23T09:03:54.000000Z",
                      "beruf": "",
                      "per_du": true,
                      "nationalitaet": "",
                      "benutzername_simplr": "alejandra.hamill",
                      "verstorben": false,
                      "last_simplr_login_at": null,
                      "maklervollmacht_created_at": null,
                      "vermittler_id": "DAKST3",
                      "anrede_id": 10,
                      "land_id": "BZ",
                      "rechtsform_id": 0
                    },
                    {
                      "ameise_id": 125387417,
                      "nachname": "Bergstrom",
                      "vorname": "Eliane",
                      "titel": "Dr.",
                      "strasse": "934 Will Garden Apt. 938",
                      "plz": "32049-9864",
                      "ort": "Lake Kimberly",
                      "geburtsdatum": "1990-01-23T09:03:54.000000Z",
                      "beruf": "",
                      "per_du": true,
                      "nationalitaet": "",
                      "benutzername_simplr": "alejandra.hamill",
                      "verstorben": false,
                      "last_simplr_login_at": null,
                      "maklervollmacht_created_at": null,
                      "vermittler_id": "DAKST3",
                      "anrede_id": 10,
                      "land_id": "BZ",
                      "rechtsform_id": 0
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "No API Token passed via Authorization Header or as _token parameter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "No API Token passed via Authorization Header or as _token parameter.",
                    "code": "NOT_AUTHORIZED"
                  },
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "No API Token passed via Authorization Header or as _token parameter."
                    },
                    "code": {
                      "type": "string",
                      "example": "NOT_AUTHORIZED"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Tenant does not exist or was disabled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Tenant does not exist or was disabled.",
                    "code": "TENANT_MISSING_OR_DISABLED"
                  },
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Tenant does not exist or was disabled."
                    },
                    "code": {
                      "type": "string",
                      "example": "TENANT_MISSING_OR_DISABLED"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Kunde"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ameise_id": {
                    "type": "integer",
                    "description": "",
                    "example": 16,
                    "nullable": true
                  },
                  "vermittler_id": {
                    "type": "string",
                    "description": "",
                    "example": "quia",
                    "nullable": true
                  },
                  "anrede_id": {
                    "type": "integer",
                    "description": "",
                    "example": 16,
                    "nullable": true
                  },
                  "vorname": {
                    "type": "string",
                    "description": "",
                    "example": "quia",
                    "nullable": true
                  },
                  "nachname": {
                    "type": "string",
                    "description": "",
                    "example": "quia",
                    "nullable": true
                  },
                  "titel": {
                    "type": "string",
                    "description": "",
                    "example": "quia",
                    "nullable": true
                  },
                  "strasse": {
                    "type": "string",
                    "description": "",
                    "example": "quia",
                    "nullable": true
                  },
                  "plz": {
                    "type": "string",
                    "description": "",
                    "example": "quia",
                    "nullable": true
                  },
                  "ort": {
                    "type": "string",
                    "description": "",
                    "example": "quia",
                    "nullable": true
                  },
                  "land_id": {
                    "type": "string",
                    "description": "",
                    "example": "quia",
                    "nullable": true
                  },
                  "geburtsdatum": {
                    "type": "string",
                    "description": "",
                    "example": "quia",
                    "nullable": true
                  },
                  "beruf": {
                    "type": "string",
                    "description": "",
                    "example": "quia",
                    "nullable": true
                  },
                  "per_du": {
                    "type": "boolean",
                    "description": "",
                    "example": false,
                    "nullable": true
                  },
                  "nationalitaet": {
                    "type": "string",
                    "description": "",
                    "example": "quia",
                    "nullable": true
                  },
                  "rechtsform_id": {
                    "type": "integer",
                    "description": "",
                    "example": 16,
                    "nullable": true
                  },
                  "benutzername_simplr": {
                    "type": "string",
                    "description": "",
                    "example": "quia",
                    "nullable": true
                  },
                  "verstorben": {
                    "type": "boolean",
                    "description": "",
                    "example": false,
                    "nullable": true
                  },
                  "last_simplr_login_at": {
                    "type": "string",
                    "description": "",
                    "example": "quia",
                    "nullable": true
                  },
                  "maklervollmacht_created_at": {
                    "type": "string",
                    "description": "",
                    "example": "quia",
                    "nullable": true
                  },
                  "kommunikation": {
                    "type": "object",
                    "description": "",
                    "example": null,
                    "properties": {
                      "email_any": {
                        "type": "string",
                        "description": "value muss eine gültige E-Mail-Adresse sein.",
                        "example": "ibrahim.murazik@example.org",
                        "nullable": true
                      },
                      "email_private": {
                        "type": "string",
                        "description": "value muss eine gültige E-Mail-Adresse sein.",
                        "example": "shickle@example.net",
                        "nullable": true
                      },
                      "email_business": {
                        "type": "string",
                        "description": "value muss eine gültige E-Mail-Adresse sein.",
                        "example": "quitzon.sabina@example.com",
                        "nullable": true
                      },
                      "telefon_any": {
                        "type": "string",
                        "description": "",
                        "example": null,
                        "nullable": true
                      },
                      "telefon_private": {
                        "type": "string",
                        "description": "",
                        "example": null,
                        "nullable": true
                      },
                      "telefon_business": {
                        "type": "string",
                        "description": "",
                        "example": null,
                        "nullable": true
                      },
                      "mobil_any": {
                        "type": "string",
                        "description": "",
                        "example": null,
                        "nullable": true
                      },
                      "mobil_private": {
                        "type": "string",
                        "description": "",
                        "example": null,
                        "nullable": true
                      },
                      "mobil_business": {
                        "type": "string",
                        "description": "",
                        "example": null,
                        "nullable": true
                      },
                      "website_any": {
                        "type": "string",
                        "description": "Must be a valid URL.",
                        "example": "http://hoppe.com/et-deleniti-aliquid-illum-accusantium-nesciunt.html",
                        "nullable": true
                      },
                      "website_private": {
                        "type": "string",
                        "description": "Must be a valid URL.",
                        "example": "http://batz.com/",
                        "nullable": true
                      },
                      "website_business": {
                        "type": "string",
                        "description": "Must be a valid URL.",
                        "example": "https://toy.com/aut-magni-delectus-necessitatibus-natus-quod-ipsam-eum.html",
                        "nullable": true
                      },
                      "fax_any": {
                        "type": "string",
                        "description": "",
                        "example": null,
                        "nullable": true
                      },
                      "fax_private": {
                        "type": "string",
                        "description": "",
                        "example": null,
                        "nullable": true
                      },
                      "fax_business": {
                        "type": "string",
                        "description": "",
                        "example": null,
                        "nullable": true
                      }
                    },
                    "nullable": true
                  },
                  "details": {
                    "type": "object",
                    "description": "",
                    "example": null,
                    "properties": {
                      "feld_id_typ_text": {
                        "type": "string",
                        "description": "",
                        "example": null,
                        "nullable": true
                      },
                      "feld_id_typ_boolean": {
                        "type": "boolean",
                        "description": "",
                        "example": true,
                        "nullable": true
                      },
                      "feld_id_typ_auswahl": {
                        "type": "string",
                        "description": "",
                        "example": 2,
                        "enum": [
                          1,
                          2,
                          3,
                          4,
                          5
                        ],
                        "nullable": true
                      },
                      "feld_id_typ_zahl": {
                        "type": "integer",
                        "description": "",
                        "example": 16,
                        "nullable": true
                      },
                      "feld_id_typ_betrag_2": {
                        "type": "number",
                        "description": "",
                        "example": 18066.54877,
                        "nullable": true
                      },
                      "feld_id_typ_datum": {
                        "type": "string",
                        "description": "Must be a valid date in the format <code>Y-m-d,d.m.Y</code>.",
                        "example": "2026-03-24,24.03.2026",
                        "nullable": true
                      }
                    },
                    "nullable": true
                  },
                  "_skip": {
                    "type": "integer",
                    "description": "How many items to skip in results.",
                    "example": 0
                  },
                  "_limit": {
                    "type": "integer",
                    "description": "How many items to return in results, defaults to 25, min 1, max 100.",
                    "example": 25
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "tenant",
          "description": "",
          "example": "quia",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/{tenant}/kunde/upsert": {
      "put": {
        "summary": "Upsert Kunde",
        "operationId": "upsertKunde",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "mitteilung-benutzername",
            "description": "Only if customer could not be found. When set, will send customer the account username via email (if given).",
            "example": true,
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Only if customer could not be found. When set, will send customer the account username via email (if given).",
              "example": true
            }
          },
          {
            "in": "query",
            "name": "mitteilung-passwort-link",
            "description": "Only if customer could not be found. When set, will send customer a link to reset his account password via email (if given).",
            "example": true,
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Only if customer could not be found. When set, will send customer a link to reset his account password via email (if given).",
              "example": true
            }
          },
          {
            "in": "query",
            "name": "mitteilung-erstinfo-unterbinden",
            "description": "Only if customer could not be found. When set, will **not** send customer the Erstinformationen nach §11 der Vermittlerverordnung via email (if given).",
            "example": true,
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Only if customer could not be found. When set, will **not** send customer the Erstinformationen nach §11 der Vermittlerverordnung via email (if given).",
              "example": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "ameise_id": 125387417,
                    "nachname": "Bergstrom",
                    "vorname": "Eliane",
                    "titel": "Dr.",
                    "strasse": "934 Will Garden Apt. 938",
                    "plz": "32049-9864",
                    "ort": "Lake Kimberly",
                    "geburtsdatum": "1990-01-23T09:03:54.000000Z",
                    "beruf": "",
                    "per_du": true,
                    "nationalitaet": "",
                    "benutzername_simplr": "alejandra.hamill",
                    "verstorben": false,
                    "last_simplr_login_at": null,
                    "maklervollmacht_created_at": null,
                    "vermittler_id": "DAKST3",
                    "anrede_id": 10,
                    "anrede": "sed animi",
                    "juristische_person": false,
                    "land_id": "BZ",
                    "land": "Tonga",
                    "rechtsform_id": 0,
                    "rechtsform": null,
                    "email": null,
                    "telefon": null,
                    "mobil": null,
                    "website": null,
                    "fax": null,
                    "kommunikationen": [],
                    "details": []
                  },
                  "properties": {
                    "ameise_id": {
                      "type": "integer",
                      "example": 125387417
                    },
                    "nachname": {
                      "type": "string",
                      "example": "Bergstrom"
                    },
                    "vorname": {
                      "type": "string",
                      "example": "Eliane"
                    },
                    "titel": {
                      "type": "string",
                      "example": "Dr."
                    },
                    "strasse": {
                      "type": "string",
                      "example": "934 Will Garden Apt. 938"
                    },
                    "plz": {
                      "type": "string",
                      "example": "32049-9864"
                    },
                    "ort": {
                      "type": "string",
                      "example": "Lake Kimberly"
                    },
                    "geburtsdatum": {
                      "type": "string",
                      "example": "1990-01-23T09:03:54.000000Z"
                    },
                    "beruf": {
                      "type": "string",
                      "example": ""
                    },
                    "per_du": {
                      "type": "boolean",
                      "example": true
                    },
                    "nationalitaet": {
                      "type": "string",
                      "example": ""
                    },
                    "benutzername_simplr": {
                      "type": "string",
                      "example": "alejandra.hamill"
                    },
                    "verstorben": {
                      "type": "boolean",
                      "example": false
                    },
                    "last_simplr_login_at": {
                      "type": "string",
                      "example": null,
                      "nullable": true
                    },
                    "maklervollmacht_created_at": {
                      "type": "string",
                      "example": null,
                      "nullable": true
                    },
                    "vermittler_id": {
                      "type": "string",
                      "example": "DAKST3"
                    },
                    "anrede_id": {
                      "type": "integer",
                      "example": 10
                    },
                    "anrede": {
                      "type": "string",
                      "example": "sed animi"
                    },
                    "juristische_person": {
                      "type": "boolean",
                      "example": false
                    },
                    "land_id": {
                      "type": "string",
                      "example": "BZ"
                    },
                    "land": {
                      "type": "string",
                      "example": "Tonga"
                    },
                    "rechtsform_id": {
                      "type": "integer",
                      "example": 0
                    },
                    "rechtsform": {
                      "type": "string",
                      "example": null,
                      "nullable": true
                    },
                    "email": {
                      "type": "string",
                      "example": null,
                      "nullable": true
                    },
                    "telefon": {
                      "type": "string",
                      "example": null,
                      "nullable": true
                    },
                    "mobil": {
                      "type": "string",
                      "example": null,
                      "nullable": true
                    },
                    "website": {
                      "type": "string",
                      "example": null,
                      "nullable": true
                    },
                    "fax": {
                      "type": "string",
                      "example": null,
                      "nullable": true
                    },
                    "kommunikationen": {
                      "type": "array",
                      "example": []
                    },
                    "details": {
                      "type": "array",
                      "example": []
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No API Token passed via Authorization Header or as _token parameter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "No API Token passed via Authorization Header or as _token parameter.",
                    "code": "NOT_AUTHORIZED"
                  },
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "No API Token passed via Authorization Header or as _token parameter."
                    },
                    "code": {
                      "type": "string",
                      "example": "NOT_AUTHORIZED"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Tenant does not exist or was disabled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Tenant does not exist or was disabled.",
                    "code": "TENANT_MISSING_OR_DISABLED"
                  },
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Tenant does not exist or was disabled."
                    },
                    "code": {
                      "type": "string",
                      "example": "TENANT_MISSING_OR_DISABLED"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Multiple Records for update found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Could not identify sole Kunde to update, 2 results found via _search.",
                    "count": 2,
                    "code": "MULTIPLE_RECORDS_FOUND",
                    "ameise_ids": [
                      "123456789",
                      "987654321"
                    ]
                  },
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Could not identify sole Kunde to update, 2 results found via _search."
                    },
                    "count": {
                      "type": "integer",
                      "example": 2
                    },
                    "code": {
                      "type": "string",
                      "example": "MULTIPLE_RECORDS_FOUND"
                    },
                    "ameise_ids": {
                      "type": "array",
                      "example": [
                        "123456789",
                        "987654321"
                      ],
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "412": {
            "description": "CRM Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Ameise-API is not connected."
                  },
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Ameise-API is not connected."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Kunde"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "vermittler_id": {
                    "type": "string",
                    "description": "Standard-Wert ist der Vermittler des Ameise Benutzers mit dem die API-Verbidung erstellt wurde. The <code>ameise_id</code> of an existing record in the ameise_vermittler table.",
                    "example": null,
                    "nullable": true
                  },
                  "anrede_id": {
                    "type": "string",
                    "description": "The <code>ameise_id</code> of an existing record in the ameise_anreden table.",
                    "example": null
                  },
                  "vorname": {
                    "type": "string",
                    "description": "Wenn anrede_id zu einer Anrede gehört, wo juristische_person = true ist bezeichnet dieses Feld den Ansprechpartner. value darf maximal 255 Zeichen haben.",
                    "example": "jjuyjlbqswiwvcmy",
                    "nullable": true
                  },
                  "nachname": {
                    "type": "string",
                    "description": "Wenn anrede_id zu einer Anrede gehört, wo juristische_person = true ist bezeichnet dieses Feld den Firmennamen. value darf maximal 255 Zeichen haben.",
                    "example": "vipndicqibuxjajf",
                    "nullable": true
                  },
                  "titel": {
                    "type": "string",
                    "description": "Wird nicht verwendet, wenn anrede_id zu einer Anrede gehört, wo juristische_person = true ist. value darf maximal 255 Zeichen haben.",
                    "example": "ulljxbbggsfxqdre",
                    "nullable": true
                  },
                  "strasse": {
                    "type": "string",
                    "description": "value darf maximal 255 Zeichen haben.",
                    "example": "nloimiqxcpiayhne",
                    "nullable": true
                  },
                  "plz": {
                    "type": "string",
                    "description": "value muss zwischen 4 und 5 Stellen haben.",
                    "example": "56957",
                    "nullable": true
                  },
                  "ort": {
                    "type": "string",
                    "description": "value darf maximal 255 Zeichen haben.",
                    "example": "uyjlbqswiwvcmyvi",
                    "nullable": true
                  },
                  "land_id": {
                    "type": "string",
                    "description": "The <code>ameise_id</code> of an existing record in the ameise_laender table.",
                    "example": null
                  },
                  "geburtsdatum": {
                    "type": "string",
                    "description": "Wenn anrede_id zu einer Anrede gehört, wo juristische_person = true ist bezeichnet dieses Feld das Gründungsdatum. Must be a valid date in the format <code>Y-m-d,d.m.Y</code>.",
                    "example": "2026-03-24,24.03.2026",
                    "nullable": true
                  },
                  "beruf": {
                    "type": "string",
                    "description": "Wenn anrede_id zu einer Anrede gehört, wo juristische_person = true ist bezeichnet dieses Feld die Branche. value darf maximal 255 Zeichen haben.",
                    "example": "pndicqibuxjajful",
                    "nullable": true
                  },
                  "per_du": {
                    "type": "boolean",
                    "description": "Wird aktuell nicht an die Ameise übergeben.",
                    "example": true,
                    "nullable": true
                  },
                  "nationalitaet": {
                    "type": "string",
                    "description": "Wird aktuell nicht an die Ameise übergeben. value darf maximal 255 Zeichen haben.",
                    "example": "ljxbbggsfxqdrenl",
                    "nullable": true
                  },
                  "rechtsform_id": {
                    "type": "string",
                    "description": "Wird aktuell nicht an die Ameise übergeben. Benötigt wenn anrede_id zu einer Anrede gehört, wo juristische_person = true ist. The <code>ameise_id</code> of an existing record in the ameise_rechtsformen table.",
                    "example": null,
                    "nullable": true
                  },
                  "benutzername_simplr": {
                    "type": "string",
                    "description": "value darf maximal 255 Zeichen haben.",
                    "example": "oimiqxcpiayhneos",
                    "nullable": true
                  },
                  "verstorben": {
                    "type": "boolean",
                    "description": "Wird aktuell nicht an die Ameise übergeben.",
                    "example": false,
                    "nullable": true
                  },
                  "kommunikation": {
                    "type": "object",
                    "description": "Alle Standard-Kommunikationsdaten für diesen Kunden.",
                    "example": {
                      "email": "info@muster.test",
                      "website": "https://url.test"
                    },
                    "properties": {
                      "email": {
                        "type": "string",
                        "description": "value muss eine gültige E-Mail-Adresse sein.",
                        "example": "info@muster.test",
                        "nullable": true
                      },
                      "telefon": {
                        "type": "string",
                        "description": "",
                        "example": null,
                        "nullable": true
                      },
                      "mobil": {
                        "type": "string",
                        "description": "",
                        "example": null,
                        "nullable": true
                      },
                      "website": {
                        "type": "string",
                        "description": "Must be a valid URL.",
                        "example": "https://url.test",
                        "nullable": true
                      },
                      "fax": {
                        "type": "string",
                        "description": "",
                        "example": null,
                        "nullable": true
                      }
                    },
                    "nullable": true
                  },
                  "details": {
                    "type": "object",
                    "description": "Kunden-Details als Objekt mit Feld-ID Schlüssel und dem entsprechenden Wert.",
                    "example": {
                      "feld_1_float": 12.2,
                      "feld_2_int": 3,
                      "feld_3_text": "test",
                      "feld_4_bool": false,
                      "feld_5_date": "2024-01-23"
                    },
                    "properties": {
                      "feld_id_typ_text": {
                        "type": "string",
                        "description": "",
                        "example": null,
                        "nullable": true
                      },
                      "feld_id_typ_boolean": {
                        "type": "boolean",
                        "description": "",
                        "example": true,
                        "nullable": true
                      },
                      "feld_id_typ_auswahl": {
                        "type": "string",
                        "description": "",
                        "example": 5,
                        "enum": [
                          1,
                          2,
                          3,
                          4,
                          5
                        ],
                        "nullable": true
                      },
                      "feld_id_typ_zahl": {
                        "type": "integer",
                        "description": "",
                        "example": 16,
                        "nullable": true
                      },
                      "feld_id_typ_betrag_2": {
                        "type": "number",
                        "description": "",
                        "example": 18066.54877,
                        "nullable": true
                      },
                      "feld_id_typ_datum": {
                        "type": "string",
                        "description": "Must be a valid date in the format <code>Y-m-d,d.m.Y</code>.",
                        "example": "2026-03-24,24.03.2026",
                        "nullable": true
                      }
                    },
                    "nullable": true
                  },
                  "_search": {
                    "type": "array",
                    "description": "",
                    "example": [
                      "details.WGPB9D"
                    ],
                    "items": {
                      "type": "string",
                      "enum": [
                        "vermittler_id",
                        "anrede_id",
                        "vorname",
                        "nachname",
                        "titel",
                        "strasse",
                        "plz",
                        "ort",
                        "land_id",
                        "geburtsdatum",
                        "beruf",
                        "per_du",
                        "nationalitaet",
                        "rechtsform_id",
                        "benutzername_simplr",
                        "verstorben",
                        "details.feld_id_typ_text",
                        "details.feld_id_typ_boolean",
                        "details.feld_id_typ_auswahl",
                        "details.feld_id_typ_zahl",
                        "details.feld_id_typ_betrag_2",
                        "details.feld_id_typ_datum",
                        "kommunikation.email_any",
                        "kommunikation.telefon_any",
                        "kommunikation.mobil_any",
                        "kommunikation.website_any",
                        "kommunikation.fax_any",
                        "kommunikation.email_private",
                        "kommunikation.telefon_private",
                        "kommunikation.mobil_private",
                        "kommunikation.website_private",
                        "kommunikation.fax_private",
                        "kommunikation.email_business",
                        "kommunikation.telefon_business",
                        "kommunikation.mobil_business",
                        "kommunikation.website_business",
                        "kommunikation.fax_business",
                        "details.0BOHF8",
                        "details.3KJ9TQ",
                        "details.4240TO",
                        "details.6CUCS7",
                        "details.9JZSMQ",
                        "details.B5B030",
                        "details.IRY9DS",
                        "details.NR49UT",
                        "details.RW6OAQ",
                        "details.WNL0KN",
                        "details.ESVSME",
                        "details.WWDKPO",
                        "details.71Y49F",
                        "details.YTHJAL",
                        "details.EJXYZ3",
                        "details.UDAGX3",
                        "details.2QDL9Z",
                        "details.TETDMD",
                        "details.VCKIAD",
                        "details.RN8EOA",
                        "details.302DKU",
                        "details.8OADQ8",
                        "details.WGPB9D",
                        "details.3M02ON",
                        "details.8I1TFD",
                        "details.548CXL",
                        "details.PLMPV3",
                        "details.GDZ4OV"
                      ]
                    }
                  },
                  "_default": {
                    "type": "object",
                    "description": "",
                    "example": null,
                    "properties": {
                      "vermittler_id": {
                        "type": "string",
                        "description": "The <code>ameise_id</code> of an existing record in the ameise_vermittler table.",
                        "example": null,
                        "nullable": true
                      },
                      "anrede_id": {
                        "type": "string",
                        "description": "This field is required when <code>anrede_id</code> is not present. The <code>ameise_id</code> of an existing record in the ameise_anreden table.",
                        "example": null
                      },
                      "vorname": {
                        "type": "string",
                        "description": "This field is required when <code>vorname</code> is not present. value darf maximal 255 Zeichen haben.",
                        "example": "jlbqswiwvcmyvipn"
                      },
                      "nachname": {
                        "type": "string",
                        "description": "This field is required when <code>nachname</code> is not present. value darf maximal 255 Zeichen haben.",
                        "example": "dicqibuxjajfullj"
                      },
                      "titel": {
                        "type": "string",
                        "description": "value darf maximal 255 Zeichen haben.",
                        "example": "xbbggsfxqdrenloi",
                        "nullable": true
                      },
                      "strasse": {
                        "type": "string",
                        "description": "value darf maximal 255 Zeichen haben.",
                        "example": "miqxcpiayhneosdo",
                        "nullable": true
                      },
                      "plz": {
                        "type": "string",
                        "description": "value muss zwischen 4 und 5 Stellen haben.",
                        "example": "56957",
                        "nullable": true
                      },
                      "ort": {
                        "type": "string",
                        "description": "value darf maximal 255 Zeichen haben.",
                        "example": "uyjlbqswiwvcmyvi",
                        "nullable": true
                      },
                      "land_id": {
                        "type": "string",
                        "description": "This field is required when <code>land_id</code> is not present. The <code>ameise_id</code> of an existing record in the ameise_laender table.",
                        "example": null
                      },
                      "geburtsdatum": {
                        "type": "string",
                        "description": "Must be a valid date in the format <code>Y-m-d,d.m.Y</code>.",
                        "example": "2026-03-24,24.03.2026",
                        "nullable": true
                      },
                      "beruf": {
                        "type": "string",
                        "description": "value darf maximal 255 Zeichen haben.",
                        "example": "pndicqibuxjajful",
                        "nullable": true
                      },
                      "per_du": {
                        "type": "boolean",
                        "description": "",
                        "example": false,
                        "nullable": true
                      },
                      "nationalitaet": {
                        "type": "string",
                        "description": "value darf maximal 255 Zeichen haben.",
                        "example": "ljxbbggsfxqdrenl",
                        "nullable": true
                      },
                      "rechtsform_id": {
                        "type": "string",
                        "description": "The <code>ameise_id</code> of an existing record in the ameise_rechtsformen table.",
                        "example": null,
                        "nullable": true
                      },
                      "benutzername_simplr": {
                        "type": "string",
                        "description": "value darf maximal 255 Zeichen haben.",
                        "example": "oimiqxcpiayhneos",
                        "nullable": true
                      },
                      "verstorben": {
                        "type": "boolean",
                        "description": "",
                        "example": false,
                        "nullable": true
                      },
                      "kommunikation": {
                        "type": "object",
                        "description": "",
                        "example": null,
                        "properties": {
                          "email": {
                            "type": "string",
                            "description": "value muss eine gültige E-Mail-Adresse sein.",
                            "example": "iyost@example.com",
                            "nullable": true
                          },
                          "telefon": {
                            "type": "string",
                            "description": "",
                            "example": null,
                            "nullable": true
                          },
                          "mobil": {
                            "type": "string",
                            "description": "",
                            "example": null,
                            "nullable": true
                          },
                          "website": {
                            "type": "string",
                            "description": "Must be a valid URL.",
                            "example": "http://kunze.com/nesciunt-magni-atque-voluptate-adipisci-incidunt-quasi-ratione-quis",
                            "nullable": true
                          },
                          "fax": {
                            "type": "string",
                            "description": "",
                            "example": null,
                            "nullable": true
                          }
                        },
                        "nullable": true
                      },
                      "details": {
                        "type": "object",
                        "description": "",
                        "example": null,
                        "properties": {
                          "feld_id_typ_text": {
                            "type": "string",
                            "description": "",
                            "example": null,
                            "nullable": true
                          },
                          "feld_id_typ_boolean": {
                            "type": "boolean",
                            "description": "",
                            "example": true,
                            "nullable": true
                          },
                          "feld_id_typ_auswahl": {
                            "type": "string",
                            "description": "",
                            "example": 1,
                            "enum": [
                              1,
                              2,
                              3,
                              4,
                              5
                            ],
                            "nullable": true
                          },
                          "feld_id_typ_zahl": {
                            "type": "integer",
                            "description": "",
                            "example": 16,
                            "nullable": true
                          },
                          "feld_id_typ_betrag_2": {
                            "type": "number",
                            "description": "",
                            "example": 18066.54877,
                            "nullable": true
                          },
                          "feld_id_typ_datum": {
                            "type": "string",
                            "description": "Must be a valid date in the format <code>Y-m-d,d.m.Y</code>.",
                            "example": "2026-03-24,24.03.2026",
                            "nullable": true
                          }
                        },
                        "nullable": true
                      }
                    },
                    "nullable": true
                  }
                },
                "required": [
                  "_search"
                ]
              }
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "tenant",
          "description": "",
          "example": "quia",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/{tenant}/kunde/{kunde_ameise_id}": {
      "put": {
        "summary": "Update Kunde",
        "operationId": "updateKunde",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "ameise_id": 125387417,
                    "nachname": "Bergstrom",
                    "vorname": "Eliane",
                    "titel": "Dr.",
                    "strasse": "934 Will Garden Apt. 938",
                    "plz": "32049-9864",
                    "ort": "Lake Kimberly",
                    "geburtsdatum": "1990-01-23T09:03:54.000000Z",
                    "beruf": "",
                    "per_du": true,
                    "nationalitaet": "",
                    "benutzername_simplr": "alejandra.hamill",
                    "verstorben": false,
                    "last_simplr_login_at": null,
                    "maklervollmacht_created_at": null,
                    "vermittler_id": "DAKST3",
                    "anrede_id": 10,
                    "anrede": "sed animi",
                    "juristische_person": false,
                    "land_id": "BZ",
                    "land": "Tonga",
                    "rechtsform_id": 0,
                    "rechtsform": null,
                    "email": null,
                    "telefon": null,
                    "mobil": null,
                    "website": null,
                    "fax": null,
                    "kommunikationen": [],
                    "details": []
                  },
                  "properties": {
                    "ameise_id": {
                      "type": "integer",
                      "example": 125387417
                    },
                    "nachname": {
                      "type": "string",
                      "example": "Bergstrom"
                    },
                    "vorname": {
                      "type": "string",
                      "example": "Eliane"
                    },
                    "titel": {
                      "type": "string",
                      "example": "Dr."
                    },
                    "strasse": {
                      "type": "string",
                      "example": "934 Will Garden Apt. 938"
                    },
                    "plz": {
                      "type": "string",
                      "example": "32049-9864"
                    },
                    "ort": {
                      "type": "string",
                      "example": "Lake Kimberly"
                    },
                    "geburtsdatum": {
                      "type": "string",
                      "example": "1990-01-23T09:03:54.000000Z"
                    },
                    "beruf": {
                      "type": "string",
                      "example": ""
                    },
                    "per_du": {
                      "type": "boolean",
                      "example": true
                    },
                    "nationalitaet": {
                      "type": "string",
                      "example": ""
                    },
                    "benutzername_simplr": {
                      "type": "string",
                      "example": "alejandra.hamill"
                    },
                    "verstorben": {
                      "type": "boolean",
                      "example": false
                    },
                    "last_simplr_login_at": {
                      "type": "string",
                      "example": null,
                      "nullable": true
                    },
                    "maklervollmacht_created_at": {
                      "type": "string",
                      "example": null,
                      "nullable": true
                    },
                    "vermittler_id": {
                      "type": "string",
                      "example": "DAKST3"
                    },
                    "anrede_id": {
                      "type": "integer",
                      "example": 10
                    },
                    "anrede": {
                      "type": "string",
                      "example": "sed animi"
                    },
                    "juristische_person": {
                      "type": "boolean",
                      "example": false
                    },
                    "land_id": {
                      "type": "string",
                      "example": "BZ"
                    },
                    "land": {
                      "type": "string",
                      "example": "Tonga"
                    },
                    "rechtsform_id": {
                      "type": "integer",
                      "example": 0
                    },
                    "rechtsform": {
                      "type": "string",
                      "example": null,
                      "nullable": true
                    },
                    "email": {
                      "type": "string",
                      "example": null,
                      "nullable": true
                    },
                    "telefon": {
                      "type": "string",
                      "example": null,
                      "nullable": true
                    },
                    "mobil": {
                      "type": "string",
                      "example": null,
                      "nullable": true
                    },
                    "website": {
                      "type": "string",
                      "example": null,
                      "nullable": true
                    },
                    "fax": {
                      "type": "string",
                      "example": null,
                      "nullable": true
                    },
                    "kommunikationen": {
                      "type": "array",
                      "example": []
                    },
                    "details": {
                      "type": "array",
                      "example": []
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No API Token passed via Authorization Header or as _token parameter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "No API Token passed via Authorization Header or as _token parameter.",
                    "code": "NOT_AUTHORIZED"
                  },
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "No API Token passed via Authorization Header or as _token parameter."
                    },
                    "code": {
                      "type": "string",
                      "example": "NOT_AUTHORIZED"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Tenant does not exist or was disabled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Tenant does not exist or was disabled.",
                    "code": "TENANT_MISSING_OR_DISABLED"
                  },
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Tenant does not exist or was disabled."
                    },
                    "code": {
                      "type": "string",
                      "example": "TENANT_MISSING_OR_DISABLED"
                    }
                  }
                }
              }
            }
          },
          "412": {
            "description": "CRM Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Ameise-API is not connected."
                  },
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Ameise-API is not connected."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Kunde"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "vermittler_id": {
                    "type": "string",
                    "description": "Standard-Wert ist der Vermittler des Ameise Benutzers mit dem die API-Verbidung erstellt wurde. The <code>ameise_id</code> of an existing record in the ameise_vermittler table.",
                    "example": null,
                    "nullable": true
[...]
